{% extends "layout.html" %}

{% block content %}

  
  <link rel="stylesheet" href="{{ url_for('static', filename='css/quiz.css') }}">

  <div class="question-container">
    <span class="question-num">Question 3:</span> Match the name tag to the iconic NYC venue
  </div>

  <div class="boroughs">
    <div class="borough" ondrop="drop(event)" ondragover="allowDrop(event)" id="drop_Cheetah_Club">
      <img src="https://64.media.tumblr.com/74d1f3844a520285af7e68e8439abc9a/tumblr_inline_p7tklkF8FA1qdwh50_500.jpg" alt="Cheetah Club" draggable="false">
    </div>
    <div class="borough" ondrop="drop(event)" ondragover="allowDrop(event)" id="drop_CBGB">
      <img src="https://www.cbgb.com/templates/default/images/about-us-2.png" alt="CBGB" draggable="false">
    </div>
  </div>

  <div id="genres"></div>

  <button id="submit-btn" class="submit-btn" onclick="checkAnswers()">Submit Answers</button>

  
  <div id="overlay" class="hidden"></div>

  <div id="feedback-box" class="hidden">
    <p id="feedback-message"></p>
    <div class="feedback-buttons">
      <button id="retry-btn" class="check-btn">Try Again</button>
      <button id="continue-btn" class="check-btn">See explanation</button>
    </div>
  </div>
  
  <div id="ex-overlay" class="hidden"></div>

  <div id="explanation-box" class="hidden">
    <h3>Correct Answers</h3>
    <ul id="explanation-list"></ul>
    <button id="ex-close-btn" class="check-btn">Next</button>
  </div>

  <div class="text-center mt-5">
    <a href="{{ url_for('quiz2') }}" class="arrow-button">
        <i class="me-2">←</i> Back
    </a>
    <a href="{{ url_for('results') }}" class="arrow-button">
        Next <i class="ms-2">→</i>
    </a>
  </div>
  
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/quiz3.js') }}"></script>
{% endblock %}
