{% extends 'layout.html' %}
{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/learning_check.css') }}">

<div class="container">
    <div class="quiz-container">
        <div class="quiz-header">
            <h1>Check Your Learning</h1>
        </div>
        
        <div>
            <div class="question">What decades did the Harlem renaissance span?</div>
            <div class="options-container" id="options">
                <!-- populated by js file -->
            </div>
            <div class="feedback" id="feedback"></div>
            
            <div class="btn-container">
                <button class="submit-btn" id="submit-btn" disabled>Check Answer</button>
                <a href="{{ url_for('punk') }}" class="reset-btn" id="reset-btn">Continue Learning</a>
            </div>
        </div>
    </div>
    
    <div class="navigation-buttons">
        <a href="{{ url_for('harlem') }}" class="arrow-button">
            <i class="me-2">←</i> Back
        </a>
        <a href="{{ url_for('punk') }}" class="arrow-button">
            Next <i class="ms-2">→</i>
        </a>
    </div>
</div>

<script>
    let quizData;
    
    // Fetch the quiz data from the JSON file
    fetch("{{ url_for('static', filename='data/harlem_quiz.json') }}")
        .then(response => response.json())
        .then(data => {
            quizData = data;
            // Initialize the quiz after data is loaded
            initQuiz();
        })
</script>

<script src="{{ url_for('static', filename='js/harlem_quiz.js') }}"></script>
{% endblock %}