{% extends "layout.html" %}

{% block content %}


<body>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/quiz.css') }}">
  <div class="question-container">
    <span class="question-num">Question 1:</span> Drag each genre to the borough where it originated or became popular
  </div>
  <div class="boroughs">
    <div class="borough" ondrop="drop(event)" ondragover="allowDrop(event)" id="Morris Heights">
      <h3>Morris Heights</h3>
    </div>
    <div class="borough" ondrop="drop(event)" ondragover="allowDrop(event)" id="Harlem">
      <h3>Harlem</h3>
    </div>
    <div class="borough" ondrop="drop(event)" ondragover="allowDrop(event)" id="Midtown Manhattan">
      <h3>Midtown Manhattan</h3>
    </div>
    <div class="borough" ondrop="drop(event)" ondragover="allowDrop(event)" id="East Village">
      <h3>East Village</h3>
    </div>
  </div>

  <div id="genres"></div>

  <button class="submit-btn" onclick="checkAnswers()">Submit Answers</button>

  <div id="overlay" class="hidden"></div>

  <div id="feedback-box" class="hidden">
    <p id="feedback-message"></p>
    <div class="feedback-buttons">
      <button id="retry-btn" class="check-btn">Try Again</button>
      <button id="continue-btn" class="check-btn">See explanation</button>
    </div>
  </div>
  
  <div id="ex-overlay" class="hidden"></div>

  <div id="explanation-box" class="hidden">
    <h3>Correct Answers</h3>
    <ul id="explanation-list"></ul>
    <button id="ex-close-btn" class="check-btn">Next</button>
  </div>

  <div class="text-center mt-5">
    <a href="{{ url_for('cheetah_club') }}" class="arrow-button">
        <i class="me-2">←</i> Back
    </a>
    <a href="{{ url_for('quiz2') }}" class="arrow-button">
        Next <i class="ms-2">→</i>
    </a>
  </div>
    
</body>

{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/quiz1.js') }}"></script>
{% endblock %}
